
{% load term_filter %}

<!DOCTYPE html>
<html>
<head>

<meta http-equiv="Content-type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="keywords" content="{% block meta_keywords %}{% endblock %}">
<meta name="description" content="{% block meta_description %}{% endblock %}">
<title>{% block meta_title %}{% endblock %}</title>
<link rel="shortcut icon" href="/static/img/favicon.ico">

<!--<link rel="stylesheet" href="/static/css/bootstrap.css">
<link rel="stylesheet" href="/static/css/bootstrap.responsive.css">
-->
<link rel="stylesheet" href="/static/css/ceda.css">


<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

{% block extra_css %}{% endblock %}

<!--<script src="/static/js/bootstrap.min.js"></script>-->

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>

<script>
$(function() {
    $('.middleinput:text, textarea').addClass('xlarge');
    $('.control-group label').addClass('control-label');
});
</script>

{% block extra_js %}{% endblock %}

{% block extra_head %}{% endblock %}

</head>


<body id="{% block body_id %}body{% endblock %}">


  {% block navbar %}
  <nav class="navbar bg-dark navbar-expand-lg bg-body-tertiary"  data-bs-theme="dark">
    <div class="container">
      <a class="navbar-brand" href="https://cfconventions.org/"><img src="/static/img/cflogo.png"/> CF Conventions</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" 
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="/proposals/{{vocab.pk| default:1}}">Proposals</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/phraselist">Phrase list</a>
          </li>
          {%if user.is_authenticated %}
          <li class="nav-item"><a class="nav-link" href="/admin/vocab/{{vocab.pk| default:1}}">{{vocab}} Versions</a></li>
          <li class="nav-item"><a class="nav-link" href="/vocabversion/{{vocab.latest_version.pk}}">Latest version: {{vocab.latest_version}}</a></li>
          <li class="nav-item"><a class="nav-link" href="/admin/vocab/phrase">Edit Stock Phrases</a></li>
          {% endif %}
        </ul>
     
      </div>
    </div>
  </nav>
  {% endblock %}

  <div class="container">
    User:{{user}}

  <div class="row">
    <div class="col"> 
      <h1>{% block title %}{% endblock %}</h1>
    </div>
  </div>


  <div class="row">
    <div class="col"> 
        {% block main %}{% endblock %}
      </div>
    </div>

    {% block footer %}
  <div class="row"><div class="col"> 
    <hr>
    <small>This vocab management tool maintained by <a href="https://www.ceda.ac.uk">CEDA</a></small>
    
   
  </div></div>
  {% endblock %}

</div>


</body>
</html>

