
{% extends "vocab/base.html" %}

{% block main %}


<form method="post" action="/bulkupload_phrases" enctype="multipart/form-data">{% csrf_token %}

<h1>Bulk upload phrases</h1>
    <p>This form is used to bulk upload phrases from a CSV file. There are two columns in the CSV file: phrase
        regex and the definition text.</p>

Here is an example
<pre>
pork,Pork is meat from a pig
chicken,"Chicken is eat from a chicken, or just a chicken"
beef,Beef is meat from a cow
</pre>

<div class="row">
      <div class="span6">CSV file <input type="file" name="upload"></div>
      <div class="span6"><input class="btn btn-danger" type="submit" value="Upload phrases"></div>
</div>

</form>

{% endblock %}

