
{% extends "vocab/base.html" %}

{% block main %}




<h1>Bulk upload phrases</h1>
    <p>This form is used to bulk upload phrases from a CSV file. There are two columns in the CSV file: phrase
        regex and the definition text.</p>

Here is an example
<pre>
pork,Pork is meat from a pig
chicken,"Chicken is meat from a chicken, or just a chicken"
beef,Beef is meat from a cow
</pre>

<div class="row">
    <form method="post" action="/bulkupload_phrases" enctype="multipart/form-data">{% csrf_token %}
      <div class="col">
        <label for="formFile" class="form-label">CSV file</label> 
        <input class="form-control m-1" type="file" id="formFile" name="upload">
        <input class="btn btn-danger m-1" type="submit" value="Upload phrases"></div>

    </form>
</div>

</form>

{% endblock %}

