
{% extends "vocab/base.html" %}

{% block main %}




<h1>Bulk upload</h1>

<p>This form is used to bulk upload terms from a CSV file. It only works for new terms.
    The CSV file has to have a header with proposal details and a body listing the
    term names, units, unitref (optional) and definitions (optional). A blank line signals the end of the header.
    If the definition is "GETDEF" then the phrase list is used to construct the first guess at the definition.
    An example file is below</p>


<pre>
proposer,Sam,
proposed_date,2014-01-20,
thread_url,http://badc.nerc.ac.uk,
thread_title,test thread,
,,
,,
test_bulk_term1,m,XXX,
test_bulk_term2,C,UKMS, Term 2 definition
test_bulk_term3,m3,,This name has no unit ref and thats fine.
test_bulk_term4,m2
test_bulk_term5,ff,YYYY ,"This def has a comma in, but thats ok too."
test_bulk_term6,m3 tt,,GETDEF
test_bulk_my_term7,m3 tt,,GETDEF
</pre>

<div class="row">

    <form method="post" action="/bulkupload/{{vocab.id}}" enctype="multipart/form-data">{% csrf_token %}
      <div class="col">
        <label for="formFile" class="form-label">CSV file</label> 
        <input class="form-control m-1" type="file" id="formFile" name="upload">
        <input class="btn btn-danger m-1" type="submit" value="Upload proposals"></div>

    </form>
</div>




{% endblock %}

