
{% extends "vocab/base.html" %}
	
{% block title %}Phrase list{% endblock %}


{% block main %}

{% if user.is_authenticated %}
<a class="btn btn-warning" href="/bulkupload_phrases">Bulk upload phrases</a>
{% endif %}


<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Pattern</th>
      <th scope="col">Phrase</th>
    </tr>
  </thead>
  <tbody>

{% for p in phrases %}
<tr>
  <td class="font-monospace">{{p.regex}}</td>
  <td>{{p.text}}</td>
</tr>


{%endfor%}
</tbody>
</table>

{% endblock %}
