
{% extends "vocab/base.html" %}
	
{% block title %}Proposals for {{vocab}}{% endblock %}

{% load term_filter %}



{% block main %}

<form>
<div class="row"> 
<div class="col-4">
<i class="icon-play"></i> <input type="radio" name="status" value="active" {%if not status or status == 'active' %}checked="checked"{%endif%}/>Active (not on list or rejected)
<input type="radio" name="status" value="new" {%if status == 'new' %}checked="checked"{%endif%}/>New
<input type="radio" name="status" value="under discussion" {%if status == 'under discussion' %}checked="checked"{%endif%}/>Under discussion
<input type="radio" name="status" value="accepted" {%if status == 'accepted' %}checked="checked"{%endif%}/>Accepted<br />
<i class="icon-stop"></i> 
<input type="radio" name="status" value="inactive" {%if status == 'inactive' %}checked="checked"{%endif%}/>Inactive
<input type="radio" name="status" value="complete" {%if status == 'complete' %}checked="checked"{%endif%}/>Added to list
<input type="radio" name="status" value="rejected" {%if status == 'rejected' %}checked="checked"{%endif%}/>Rejected<br />
<i class="icon-plus"></i> <input type="radio" name="status" value="all" {%if status == 'all' %}checked="checked"{%endif%}/>All<br />
{%if user %}<i class="icon-envelope"></i> <input type="checkbox" name="mailupdate" {%if mailupdate %}checked="checked"{%endif%}/>Mailupdate format<br />{% endif %}
</div></div>

<div>
  <h4>Filters:</h4>
</div>
<div class="row">
    <div class="col-4"><div class="form-floating m-3">
      <input type="text" class="form-control" id="term_name_filter" value="{{namefilter|default:''}}" name="namefilter">
      <label for="term_name_filter">Term name:</label>
     </div></div>

     <div class="col-4"><div class="form-floating m-3">
      <input type="text" class="form-control" id="proposer_filter" value="{{proposerfilter|default:''}}" name="proposerfilter">
      <label for="proposer_filter">Proposer:</label>
     </div></div>

     <div class="col-4"><div class="form-floating m-3">
      <input type="text" class="form-control" id="desc_filter" value="{{descfilter|default:''}}" name="descfilter">
      <label for="desc_filter">Description:</label>
     </div></div>
 
     <div class="col-4"><div class="form-floating m-3">
      <input type="text" class="form-control" id="unit_filter" value="{{unitfilter|default:''}}" name="unitfilter">
      <label for="unit_filter">Unit:</label>
     </div></div>
  
     <div class="col-4"><div class="form-floating m-3">
      <input type="text" class="form-control" id="year_filter" value="{{yearfilter|default:''}}" name="yearfilter">
      <label for="year_filter">Year:</label>
     </div></div>

     <div class="col-4"><div class="form-floating m-3">
      <input type="text" class="form-control" id="comm_filter" value="{{commentfilter|default:''}}" name="commentfilter">
      <label for="comm_filter">Comments:</label>
     </div></div>

     <div class="col-4"><div class="form-floating m-3">
      <input type="text" class="form-control" id="prop_url_filter" value="{{proposal_url_filter|default:''}}" name="proposal_url_filter">
      <label for="prop_url_filter">Issue:</label>
     </div></div>
</div>


<input class="btn btn-primary" type="submit" value="Filter" name="filter and display"/>
<a class="btn" href="/proposals/1">Clear Filters</a>

</form>

{%if user %}
<a class="btn btn-primary" href="/newproposal/{{vocab.pk}}">Make new proposal</a>
<a class="btn btn-warning" href="/bulkupload/{{vocab.pk}}">Bulk upload</a>

{% endif %}
</div>

<p class="text-info">{{proposals|length}} proposals match your search</p>

{%if mailupdate %}
<textarea rows="30" cols="100">
{% for p in proposals %}
{{p.current_term.name|default:"No term set!"}}
{{p.status}}
Proposer: {{p.proposer}}
{{p.mail_list_url}} {{p.mail_list_title}}

{%endfor%}
</textarea>
{% else %}

{% for p in proposals %}	

<div class="row border border-2 border-dark p-1 m-2">
  <div class="col-12 prop prop-{{p.status}} p-2">  
    
{% if p.status != 'complete' and user %}
  <a class="btn btn-danger" href="/proposal/{{p.id}}/edit">Edit</a>
{%endif%}
  <a class="btn btn-warning" href="/proposal/{{p.id}}">View</a>

  {{p.current_term| term_div}}
  </div>
  <div class="col-12 p-2">
     {{p.proposer|default:""}} {{p.proposed_date|date:'(Y-m-d)'}}
     <a href="{{p.mail_list_url}}">{{p.mail_list_title}}</a>
  </div>
</div>



{%endfor%}
{% endif %}

{% endblock %}
