{% extends "vocab/base.html" %}
	
{% block main %}

<div class="row">
      <div class="col-12 prop prop-{{proposal.status}}"><h3>{{proposal.current_term.name|default:"No term set!"}}</h3> {{proposal.status}}</div>
</div>
<div class="row">
      <div class="col-3">Created: {{proposal.created}}</div>
      <div class="col-3">Proposer: {{proposal.proposer}}</div>
      <div class="col-2">Proposed Date: {{proposal.proposed_date|date:"Y-m-d"}}</div>
</div>
<div class="row">
      <div class="col-8">{{proposal.comment}}</div>
</div>
<div class="row">
      <div class="col-8"><a href="{{proposal.mail_list_url}}">{{proposal.mail_list_title}}</a></div>
</div>

<div class="row">
{% for pt, date in proposed_terms %}      
<div class="container">
 <div class="row">
  		<div class="col-12 muted">Change Date: {{date}}</div>
 </div>
 <div class="row">
   		<div class="col-12">Term: <b>{{pt.name}}</b></div>
 </div>
 <div class="row">
		<div class="col-4">Unit: {{pt.unit}}</div>
		<div class="col-8">Unit ref: {{pt.unit_ref}}</div>
 </div>
 <div class="row">
   		<div class="col-12">{{pt.description}}</div>
 </div>
</div>
{%endfor%}
</div>


{% endblock %}


