
{% extends "vocab/base.html" %}
	
{% block title %}Proposals for {{vocab}}{% endblock %}

{% load term_filter %}



{% block main %}

<form>
<div class="row"> 
<div class="col-6">
  <div class="form-check">
    <input class="form-check-input" type="radio" name="status" 
    id="status_active" {%if not status or status == 'active' %}checked="checked"{%endif%} 
    value="active">
    <label class="form-check-label" for="status_active">Active <small>(new, under discussion or accepted)</small></label>
  </div>

  <div class="form-check">
    <input class="form-check-input" type="radio" name="status" 
    id="status_new" {%if status == 'new' %}checked="checked"{%endif%}
    value="new">
    <label class="form-check-label" for="status_new">New</label>
  </div>

  <div class="form-check">
    <input class="form-check-input" type="radio" name="status" 
    id="status_ud" {%if status == 'under discussion' %}checked="checked"{%endif%}
    value="under discussion">
    <label class="form-check-label" for="status_ud">Under discussion</label>
  </div>

  <div class="form-check">
    <input class="form-check-input" type="radio" name="status" 
    id="status_accepted" {%if status == 'accepted' %}checked="checked"{%endif%}
    value="accepted">
    <label class="form-check-label" for="status_accepted">Accepted</label>
  </div>

</div>
<div class="col-6">
  <div class="form-check">
    <input class="form-check-input" type="radio" name="status" 
    id="status_inactive" {%if status == 'inactive' %}checked="checked"{%endif%}
    value="inactive">
    <label class="form-check-label" for="status_inactive">Inactive <small>(Already added or rejected)</small></label>
  </div>

  <div class="form-check">
    <input class="form-check-input" type="radio" name="status" 
    id="status_complete" {%if status == 'complete' %}checked="checked"{%endif%}
    value="complete">
    <label class="form-check-label" for="status_complete">Added to list</label>
  </div>

  <div class="form-check">
    <input class="form-check-input" type="radio" name="status" 
    id="status_rejected" {%if status == 'rejected' %}checked="checked"{%endif%}
    value="rejected">
    <label class="form-check-label" for="status_rejected">Rejected</label>
  </div>

  <div class="form-check">
    <input class="form-check-input" type="radio" name="status" 
    id="status_all" {%if status == 'all' %}checked="checked"{%endif%}
    value="all">
    <label class="form-check-label" for="status_all">All</label>
  </div>
</div>
</div>

<div>
  <h4>Filters:</h4>
</div>
<div class="row">
    <div class="col-4"><div class="form-floating m-1">
      <input type="text" class="form-control" id="term_name_filter" value="{{namefilter|default:''}}" name="namefilter">
      <label for="term_name_filter">Term name:</label>
     </div></div>

     <div class="col-4"><div class="form-floating m-1">
      <input type="text" class="form-control" id="proposer_filter" value="{{proposerfilter|default:''}}" name="proposerfilter">
      <label for="proposer_filter">Proposer:</label>
     </div></div>

     <div class="col-4"><div class="form-floating m-1">
      <input type="text" class="form-control" id="desc_filter" value="{{descfilter|default:''}}" name="descfilter">
      <label for="desc_filter">Description:</label>
     </div></div>
 
     <div class="col-4"><div class="form-floating m-1">
      <input type="text" class="form-control" id="unit_filter" value="{{unitfilter|default:''}}" name="unitfilter">
      <label for="unit_filter">Unit:</label>
     </div></div>
  
     <div class="col-4"><div class="form-floating m-1">
      <input type="text" class="form-control" id="year_filter" value="{{yearfilter|default:''}}" name="yearfilter">
      <label for="year_filter">Year:</label>
     </div></div>

     <div class="col-4"><div class="form-floating m-1">
      <input type="text" class="form-control" id="comm_filter" value="{{commentfilter|default:''}}" name="commentfilter">
      <label for="comm_filter">Comments:</label>
     </div></div>

     <div class="col-4"><div class="form-floating m-1">
      <input type="text" class="form-control" id="prop_url_filter" value="{{proposal_url_filter|default:''}}" name="proposal_url_filter">
      <label for="prop_url_filter">Issue:</label>
     </div></div>

</div>


<input class="btn btn-primary m-1" type="submit" value="Filter" name="filter and display"/>
<a class="btn btn-secondary m-1" href="/proposals/1">Clear Filters</a>

</form>

{%if user.is_authenticated %}
<div>
<a class="btn btn-primary m-1" href="/newproposal/{{vocab.pk}}">Make new proposal</a>
<a class="btn btn-warning m-1" href="/bulkupload/{{vocab.pk}}">Bulk upload</a>
</div>
{% endif %}

<p class="text-info">{{proposals|length}} proposals match your search</p>

{% for p in proposals %}	

<div class="row border border-2 border-dark p-1 m-2">
  <div class="col-12 prop prop-{{p.status}} p-2">  
    
{% if p.status != 'complete' and user.is_authenticated %}
  <a class="btn btn-danger btn-sm" href="/proposal/{{p.id}}/edit">Edit</a>
{%endif%}
  <a class="btn btn-warning btn-sm" href="/proposal/{{p.id}}">View</a>
  <span class="badge badge-secondary m-1">{{p.status}}</span>
</div>

  {{p.current_term| term_div}} 
  
  <div>  {{p| prop_change_type_badge}} </div>
  
  <div class="col-12 p-2">
    {% if p.issue_number %}<span class="font-monospace fw-bolder">#{{p.issue_number}}</span>{% endif %}
     {{p.proposer|default:""}} {{p.proposed_date|date:'(Y-m-d)'}}
     <a href="{{p.mail_list_url}}">{{p.mail_list_title}}</a>
     Comments: {{p.comment}}
  </div>
</div>
{%endfor%}

{% endblock %}
