{% extends "vocab/base.html" %}
	

{% block title %}{{vocab}} Version:{{vocabversion.version}}{% endblock %}


{% block main %}

<a class="btn btn-primary" href="/vocabversion/{{vocabversion.pk}}?xml=1">XML version</a>
<a class="btn btn-primary" href="/vocabversion/{{vocabversion.pk}}?skos=1">SKOS update version</a>
<a class="btn btn-primary" href="/vocabversion/{{vocabversion.pk}}?tsv=1">TSV update version</a>
<a class="btn btn-primary" href="/vocabversion/{{vocabversion.pk}}?units=1">alias and unit mapping update</a>
<a class="btn btn-primary" href="/vocabversion/{{vocabversion.pk}}?updateview=1">Update view</a>
<a class="btn btn-primary" href="/vocabversion/{{vocabversion.pk}}/updateemail">Update email summary</a>

{% for t in terms %} 
   <div class="row">       	
   		{%if user and vocabversion.status != "complete" %} 
        <div class="col-2"><a class="btn btn-primary" href="/newproposal/{{vocab.pk}}?term={{t.pk}}&alias=1" target="_blank">propose change</a></div>{% endif %}
   		<div class="col-8"><h3><a href="/termhistory/{{t.id}}">{{t.name}}</a></h3></div>
   		<div class="col-2">Unit: {{t.unit}}</div>
   </div>
   <div class="row">       	
   		{%if t.unit_ref %}<div class="span2">Unit ref: {{t.unit_ref}}</div>{% endif %}
     </div>	      
    {% for a in t.aliases %}      
    <div class="row">
        <div class="col-1">Alias:</div>
        <div class="col-5"><span class="label label-info">{{a.name}}</span></div>
    </div>
    {%endfor%}
    <div class="row"> <div class="col-11">{{t.description}}</div> </div>	                    
{%endfor%}

{% endblock %}


